*{
    font-family: Poppins;
}
main{
    #discount{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        background-color: burlywood;
        .discount-box{
            width: 1200px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 80px;
            .left-part{
                width: 400px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                .faiz{
                    h2{
                        color: red;
                    }
                }
                .left-part-title{
                    h1{
                        font: normal;
                        font-weight: bold;
                        font-size: 40px;
                    }
                }
                .left-part-paragraf{
                    p{
                        color: rgb(43, 38, 38);
                    }
                }
                .button{
                    button{
                        background-color: #206363;
                        border: none;
                        color: white;
                        margin-top: 50px;
                        padding: 15px 50px;
                        border-radius: 10px;
                    }
                }
            }
            .left-right{
                width: 300px;
                height: 300px;
            }
            .right-part{
                width: 600px;
                height: 600px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    #suggestions{
        height: 144px;
        background-color: #F7F7F7;
        display: flex;
        justify-content: center;
        align-items: center;
        .suggest-box{
            display: flex;
            gap: 100px;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
    #types{
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: aqua;
        .type-box{
            display: flex;
            gap: 20px;
            #bags{
                width: 264px;
                height: 162px;
                background: #F5F5F5;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                p{
                    display: flex;
                    justify-content: flex-start;
                }
                .type-img{
                    display: flex;
                    justify-content: flex-end;
                }
            }
            // .shoulder-bags{
            //     position: relative;
            //     p{
            //         font-weight: bold;
            //         padding-left: 10px;
            //         padding-top: 10px;
            //     }
            //     img{
            //         position: absolute;
            //         bottom: 0.8px;
            //         left: 120px;
            //     }
            // }
            // .hand-bag{
            //     p{
            //         font-weight: bold;
            //         padding-left: 10px;
            //         padding-top: 10px;
            //     }
            //     img{
            //         position: absolute;
            //         left: 513px;
            //         bottom: -462px;
            //     }
            // }
            // .backpack{
            //     p{
            //         font-weight: bold;
            //         padding-left: 10px;
            //         padding-top: 10px;
            //     }
            //     img{
            //         position: absolute;
            //         right: 399px;
            //         top: 974px;
            //     }
            // }
            // .evening-bag{
            //     p{
            //         font-weight: bold;
            //         padding-left: 10px;
            //         padding-top: 10px;
            //     }
            //     img{
            //         position: absolute;
            //         top: 1028px;
            //         left: 1080px;
            //     }
            // }
        }
    }
}