footer{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-box{
        width: 1249px;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        .footer-icons{
            a{
                text-decoration: none;
                color: black;
                padding: 0px 25px;
            }
        }
    }
}