nav{
    height: 80px;
    background-color: black;
    color: white;
    padding: 20px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    opacity: 0.9;
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        .navbar_container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            // border: solid red;
            max-width: 1200px;
            width: 100%;
            .navbar_container_eBusiness{
                h1{
                    font-size: 36px;
                    font-weight: bold;
                    line-height: 1;
                }
                i{
                    display: none;
                }
            }
            .navbar_container_list{
                ul{
                    display: flex;
                    gap: 50px;
                    li{
                        list-style-type: none;
                        a{
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}